@import "../../../variables.scss";

.navigation-header{
    .nav{  
        display: flex;
        flex-flow: row nowrap;
        background-color: $buddy-white;
        padding: 8px 16px;
        box-shadow: 0 0 5px $buddy-grey;
        -webkit-box-shadow: 0 0 5px $buddy-grey;
    }

    .navbar-brand{
        color: $buddy-blue;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
    }
}