@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-section{
   width: 850px;

   .modal-header{
     .error-message{
      color: #E8511D ; 
      font-size: 12px;
      font-weight: 600;
      margin-right: 20px;
     }
   }

  .modal-body{
    
    .booking-body{
      display: grid;
      grid-template-columns: 55% 45%;    

      .booking-room-details{
        border-right: 1px solid #9999995e;
        padding-right: 10px;

        .room-info{
          display: grid;
          grid-template-columns: auto 40%;  
          margin-bottom: 15px;

          .room-image{
            width: 100%;
            height: 120px;
  
            img{
              width: 100%;
              height: 100%
            }
          }
  
          .room-details{
            width: 200px;
            padding: 5px;
            margin: 0px 10px;
  
            .room-seater{
                display: flex;
                color: #7b858c;
                line-height: 20px;  
                width: 275px;
  
                .details-header{
                    width: 100px;
                    font-weight: 600;
                }
                    
                span{
                    color: #1E1E30;
                }
            }
  
            .room-status{
                .warning{
                  color: #E8511D; 
                  font-weight: 600;
                }
  
                .active{
                    color: green; 
                    font-weight: 600;
                 }
  
            }
            
          }
        }

        .time-slots{
          margin-right: 10px;

          .scheduled-meeting-details{
            display: flex;
            font-size: 14px;
            font-weight: 700;
          }

          .meeting-widget{
            align-items: center;
            margin: 20px 0px;
            padding: 15px 10px;
            box-sizing: border-box;
            background: #FFFFFF;
            border-left: 4px solid #636496D4;
            border-radius: 5px;
            box-shadow: 0 0 2px grey;

            .widget-body{
                display: grid;
                grid-template-columns: auto auto;

                .widget-left{

                    .room-seater{
                        display: flex;
                        color: #7b858c;
                        line-height: 18px;  
    
                        .details-header{
                            width: 110px;
                            font-weight: 600;
                        }
                            
                        span{
                            color: #1E1E30;
                        }
                    }

                    .time-slot{
                      .time-gap{
                        color: #E8511D !important; 
                        font-weight: 600 !important;
                      }
                    }
                }

                .widget-middle{
                    color: #7b858c;
                    line-height: 18px;
                    margin: 0px 10px;

                    .agenda-seater{

                        .details-header{
                            width: 100px;
                            font-weight: 600;
                        }
                            
                        span {
                            color: #1E1E30;
                        }
                    }
                }
            }
         }
        }

      }

      .booking-form{
        padding: 0px 25px;

        .form-group{
          margin: 10px 0px;

          .time-duration{
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 50px;
            margin: 10px 2px;

            .label-small{
              margin: 0px 1px 5px 0px;
              display: block
            }
          }
        }

        .footer-btn{
          display: flex;
          justify-content: flex-end;
    
          button{
            margin: 0px 10px;
          }
        }
      }
    }
  }

}

.meeting-widget:hover{
  box-shadow: 0 0 5px grey !important;
}