<div *ngIf="display_dialog" class="dialog-modal">
    <div class="modal-section booking-section">
        <div class="modal-header">
           <div class="header">
                Book {{roomBookingInfo.room_name}}
           </div>
           <div class="close-icon">
                <img class="close-modal" (click)="closeModal()" src=".././../../assets/images/formModelCloseIcon.svg">
           </div>
        </div>
        <div class="modal-body">
            <div class="booking-body">
                <div class="booking-room-details">
                    <div class="room-info">
                        <div class="room-details">
                            <div class="room-seater">
                                <div class="details-header">Location:</div> <span> {{ roomBookingInfo.room_location }}</span>
                             </div>
                             <div class="room-seater">
                                 <div class="details-header">No of seats:</div> <span> {{ roomBookingInfo.room_capacity }}</span>
                             </div>
                             <div class="room-seater room-status">
                                 <div class="details-header">Status:</div>
                                 <span class="warning" [ngClass]="{'active': stausMessage === 'Available'}"> {{ stausMessage }}</span>
                             </div>
                        </div>
                        <div class="room-image">
                            <img class="img-responsive" src="../../../assets/images/roomImage.jpg" alt="img">
                        </div>
                    </div>
                    <div class="time-slots" *ngIf="bookingdetails.length > 0">
                        <div class="scheduled-meeting-details">
                            Scheduled Meeting List:
                        </div>
                        <div class="meeting-widget" *ngFor="let widget of bookingdetails; index as i">
                            <div class="widget-body">
                                <div class="widget-left">
                                    <div class="room-seater">
                                        <div class="details-header">User :</div> 
                                        <span> {{ widget.user_name }}</span>
                                     </div>
                                     <div class="room-seater">
                                        <div class="details-header">Meeting Date:</div> 
                                        <span> {{ widget.date }}</span>
                                     </div>
                                     <div class="room-seater time-slot">
                                        <div class="details-header">Meeting Duration:</div> 
                                        <span class="time-gap"> {{ widget.from_time }} to {{ widget.to_time}}</span>
                                     </div>
                                </div>
                                <div class="widget-middle">
                                    <div class="agenda-seater">
                                        <div class="details-header">Meeting Agenda:</div> 
                                        <span> {{ widget.agenda }}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-form">
                    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm)">
                        <div class="form-group">
                            <label>User name: </label>
                            <input type="text" class="form-control" formControlName="user_name" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label>Date: </label>
                            <input type="date" class="form-control" formControlName="date" (change)="filterDateSchedule()"
                                    min="{{minDate |date:'yyyy-MM-dd'}}" value={{selectedData}}>
                        </div>
                        <div class="form-group">
                            <label>Time Duration: </label>
                            <div class="time-duration">
                                <div>
                                   <span class="label-small"> Form:</span>
                                    <select formControlName="from_time" class="form-control" (change)="validateTimeDuration(); statusCheck()">
                                        <option *ngFor="let time of fromTimeSpan" value="{{time.value | number: '1.2-2'}}">
                                            {{time.name}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <span class="label-small"> To:</span>
                                    <select class="form-control" formControlName="to_time" (change)="validateTimeDuration(); statusCheck()">
                                        <ng-container *ngFor="let time of toTimeSpam" >
                                            <option value="{{time.value | number: '1.2-2'}}">
                                                {{time.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Agenda: </label>
                            <textarea class="form-control" formControlName="agenda"  placeholder="Meeting Agenda"></textarea>
                        </div>
                        <div class="footer-btn">
                            <button class="btn" (click)="closeModal()">Cancel</button>
                            <button class="btn btn-secondary" [disabled]="!bookingForm.valid || formInvalid || bookingdetails.length> 0" type="submit" >Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>