<footer>
    <div class="footer-main">
        <div class="copy-right">
            | Copyright © 2020  
            <a href="https://github.com/sandeshyoung" target="_blank">
                <span> Sandesh.</span> 
            </a>
            | All Rights Reserved | 
            Image credits :
            <a href="https://unsplash.com/" target="_blank">
                <span> Unsplash</span> 
            </a> |
        </div>
        <div class="social-media">
            <div class="media-icon">
                <a href="https://stackblitz.com/@sandeshyoung">
                    <img class="logo-icon" src="../../../assets/images/stackBlitz.png">
                </a>
            </div>
            <div class="media-icon">
                <a href="https://www.linkedin.com/in/sandesh-p-94853974/">
                    <img class="logo-icon" src="../../../assets/images/linkedIn.png">
                </a>
            </div>
            <div class="media-icon">
                <a href="https://github.com/sandeshyoung">
                    <img class="logo-icon" src="../../../assets/images/github.jpg">
                </a>
            </div>
        </div>
    </div>
</footer>