@import "../../../variables.scss";

footer{
    .footer-main{
        display: inline-grid;
        grid-template-columns: auto auto;
        width: 100%;
        font-size: 16px;
        background: $buddy-secondary-black;
        color: $buddy-secondary-grey;

        .copy-right{
            @include flexCenter();
            padding: 10px;
            
            a{
                text-decoration: none;
                font-weight: bold;
                color: $buddy-secondary-grey;
                margin: 0px 4px
            }
        }

        .social-media{
            @include flexCenter();
            padding: 10px;

            .media-icon{
                margin: 7px 10px;
                cursor: pointer;
                text-decoration: none;
                height: 25px;
                width: 35px;

                .logo-icon{
                   width: 100%; 
                   height: 100%;
                }
            }
        }
    }
}