<footer>
    <div class="footer-main">
        <div class="copy-right">
            Copyright © 2020  
            <a href="https://github.com/sandeshyoung" target="_blank">
                <span> Sandesh.</span> 
            </a>
            All Rights Reserved
        </div>
        <div class="social-media">
            <div class="media-icon">Stackblitz</div>
            <div class="media-icon">LinkedIn</div>
            <div class="media-icon">github</div>
        </div>
    </div>
</footer>