@import "../../../variables.scss";

.room-lists{
    height: calc(100vh - 140px);
    margin: 10px auto;
    overflow-y: auto;

    .room-wrapper{
        @include flexCenter();
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px 25px;
        margin: 0px auto;

        .room-block{
            display: flex;
            border: 1px solid #e0e0e0;
            background-color: $buddy-white;
            box-shadow: $buddy-box-shadow;
            -webkit-box-shadow: $buddy-box-shadow;
            margin: 20px 10px;
    
            .room-image{
                width: 150px;
    
                .img-responsive{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .room-details{
                width: 200px;
                padding: 5px;
                margin: 0px 10px;

                .room-name{
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    color: $buddy-secondary-black;
                    margin-bottom: 10px;
                }

                .room-seater{
                    display: flex;
                    color: $buddy-light-grey;
                    line-height: 18px;  

                    .details-header{
                        width: 100px;
                        font-weight: 600;
                    }
                        
                    span{
                        color: $buddy-secondary-black;
                    }
                }

                .room-status{
                    .active{
                        color: $buddy-sucess; 
                        font-weight: 600;
                     }
                }

                .room-config{
                    display: flex;
                    justify-content: space-between;
                    margin: 2px;
            
                }
                
            }
        }
    }

}