<section class="room-lists">
    <!-- Action Bar -->
    <app-action-bar (searchedText)="searchedText($event)" (selectedDateValue)="filterBydate($event)"></app-action-bar>

    <!-- Booking room list -->
    <div class="room-wrapper">
        <div class="room-block" *ngFor="let room of roomsList | search : searchFilterValue">
            <div class="room-image">
                <img class="img-responsive" src='{{ "../../../assets/images//meetin-rooms/" + room.room_id + "-min.jpg" }}' alt="img">
            </div>
            <!-- *ngFor="let room of room_details" -->
            <div class="room-details">
                <div class="room-name">
                    {{room.room_name }}
                </div>
                <div class="room-seater">
                   <div class="details-header">Location:</div> <span> {{ room.room_location }}</span>
                </div>
                <div class="room-seater">
                    <div class="details-header">No of seats:</div> <span> {{ room.room_capacity }}</span>
                </div>
                <div class="room-seater room-status">
                    <div class="details-header">Status:</div>
                    <span class="active"> {{ room.room_status }}</span>
                </div>
                <div class="room-config">
                    <button class="btn" (click)="bookingDetails(room)">Details</button>
                    <button class="btn btn-primary" (click)="roomBooking(room)">Book</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Manage meeting -->
<app-schedule-details [(details_dialog)]="details_dialog" [roomBookingInfo]="roomBookingInfo"></app-schedule-details>

<!-- meeting room boooking -->
<app-room-booking [(display_dialog)]="display_dialog" [roomBookingInfo]="roomBookingInfo"></app-room-booking>
